In [1]:
int()

0

In [3]:
print("hello world")

hello world

In [4]:
print(123)

123

In [6]:
age=30
print("my age is :",age)

my age is : 30

In [13]:
print("my age is:{age}") # without fstring it consider as a string

my age is:{age}

In [14]:
print(f"my age is:{age}") # after pressing fstring its shows propr data

my age is:30

In [15]:
## format
name="sachin"
age=30
print("my name is {} and age is {}".format(name,age))

my name is sachin and age is 30

In [17]:
## .format example
name="sachin"
age=30
print("my name is {} and age is {}".format(age,name))

my name is 30 and age is sachin

In [18]:
## placeholder example
name="sachin"
age=30
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is sachin and age is 30

In [19]:
## placeholder example
name="sachin"
age=30
print("my name is {firstname} and age is {firstage}".format(firstage=name,firstname=age))

my name is 30 and age is sachin

In [20]:
## placeholder example
name="sachin"
age=30
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is sachin and age is 30

In [ ]:
# example
name="sachin kumar"
age=30
degree=B.tech
print " my age is 30,I have completed my degree: BE with the name of sachin kumar"

In [23]:
# using fstring
name="sachin kumar"
age=30
degree="B.tech"
print(f" my age is {age},I have completed my degree:{degree} with the name of {name}")

 my age is 30,I have completed my degree:B.tech with the name of sachin kumar

In [24]:
# format fstring
name="sachin kumar"
age=30
degree="B.tech"
print(" my age is {},I have completed my degree:{} with the name of {}".format(age,degree,name))

 my age is 30,I have completed my degree:B.tech with the name of sachin kumar

# control flow
 decision making statement
 1.if
 2.if else
 3.if elif else
 4.nested if
 5.single statement suite

In [25]:
# if statement
age=18
if age>=18:
    print("you are eligble for vote")

you are eligble for vote

In [26]:
# if statement
age=18
if age<=17:
    print("you are eligble for vote")

In [27]:
18<=17

False

In [29]:
# if statement
age=19
if age>=18:
    print("you are eligble for vote")

you are eligble for vote

# input

In [30]:
# input gives a block to put your value during run time
input()

 sachin

'sachin'

In [31]:
name=input("enter the name:")

enter the name: sachin

In [32]:
age=input("enter the age:")

enter the age: 30

In [ ]:
## Task
# take a input of age
# check wether age >=18 and <=45
# display a message you are young blood

In [33]:
age=int(input("enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age: 20

you are young blood

In [41]:
True and False

False

In [42]:
True and True

True

In [34]:
age=int(input("enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age: 17

In [35]:
age=int(input("enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age: 45

you are young blood

In [37]:
age=int(input("enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")

enter your age: 46

In [38]:
# if else statement
age=int(input("enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("sorry")

enter your age: 46

sorry

In [39]:
age=int(input("enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("sorry")

enter your age: 17

sorry

In [40]:
age=int(input("enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("sorry")

enter your age: 35

you are young blood

In [ ]:
# mall-input product price
# product >1000 rs get 20% off
# print product price after dscount
# product price <1000 rs get 30% discount
# print product price after discount

In [1]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("price of product:{}".format(product_price*.8))
else:
    print(("price of product:{}".format(product_price*.7)))

enter the price 2000

price of product:1600.0

In [2]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("price of product:{}".format(product_price*.8))
else:
    print(("price of product:{}".format(product_price*.7)))

enter the price 1000

price of product:700.0

In [3]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("price of product:{}".format(product_price*.8))
else:
    print(("price of product:{}".format(product_price*.7)))

enter the price 800

price of product:560.0

In [ ]:
#product >3000 rs get 20% off
# print product price after dscount
# product price>=2000 and <=3000 rs get 30% discount
# print product price after discount
#product pricemall-input product price
#  <=1000 rs and <2000 rs get 40% discount
# print product price after dscount

In [5]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("price of product:{}".format(product_price*.8))
elif product_price>=2000 and product_price<=3000:
    print(("price of product:{}".format(product_price*.7)))
elif product_price>=1000 and product_price<2000:
     print(("price of product:{}".format(product_price*.6)))
else:
    print("lets drink")

enter the price 5000

price of product:4000.0

In [7]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("price of product:{}".format(product_price*.8))
elif product_price>=2000 and product_price<=3000:
    print(("price of product:{}".format(product_price*.7)))
elif product_price>=1000 and product_price<2000:
     print(("price of product:{}".format(product_price*.6)))
else:
    print("lets drink")

enter the price 2000

price of product:1400.0

In [9]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("price of product:{}".format(product_price*.8))
elif product_price>=2000 and product_price<=3000:
    print(("price of product:{}".format(product_price*.7)))
elif product_price>=1000 and product_price<2000:
     print(("price of product:{}".format(product_price*.6)))
else:
    print("lets drink")

enter the price 1600

price of product:960.0

In [10]:
product_price=int(input("enter the price"))
if product_price>3000:
    print("price of product:{}".format(product_price*.8))
elif product_price>=2000 and product_price<=3000:
    print(("price of product:{}".format(product_price*.7)))
elif product_price>=1000 and product_price<2000:
     print(("price of product:{}".format(product_price*.6)))
else:
    print("no discount")

enter the price 500

no discount

In [ ]:
#product >3000 rs get 20% off
# product price==4000 rs get additional discount
# print product price after dscount
# product price>=2000 and <=3000 rs get 30% discount
# print product price after discount
#product pricemall-input product price
#  <=1000 rs and <2000 rs get 40% discount
# print product price after dscount

In [14]:
product_price=int(input("enter the price"))
if product_price>3000:
    if product_price==4000:
        print("congratulation you get a trip of goa ")
    print("price of product:{}".format(product_price*.8))
elif product_price>=2000 and product_price<=3000:
    print(("price of product:{}".format(product_price*.7)))
elif product_price>=1000 and product_price<2000:
     print(("price of product:{}".format(product_price*.6)))
else:
    print("no discount")

enter the price 4000

congratulation you get a trip of goa
price of product:3200.0

In [17]:
# single statement
val=int(input("enter value"))
if (val<=999):print("the value is less than equal to 999")

enter value 500

the value is less than equal to 999

In [19]:
# single statement
val=int(input("enter value"))
if (val<=999):print("the value is less than equal to 999")
else:
    print("go home")

enter value 1000

go home

## loop statement
 1.while loop
 2.for loop
 3.nested loop 
 4.loop control(break,continue,pass)

In [24]:
# while loop
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("its time to retire")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time to retire

In [23]:
# while loop while else
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("its time to retire")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time to retire

In [25]:
## atm machine with just 1000 rs
amount=int(input("enter amount"))
while amount!=0:
    amount=amount-100
    print(amount)

enter amount 1000

900
800
700
600
500
400
300
200
100
0

In [26]:
## atm machine with just 1000 rs
amount=1000
while amount!=0:
    amount=amount-100
    print(amount)

900
800
700
600
500
400
300
200
100
0

In [28]:
## atm machine with just 1000 rs
amount=1000
while amount!=0:
    print(amount)
    amount=amount-100
else:
    print("fill cash")

1000
900
800
700
600
500
400
300
200
100
fill cash

## for loop

In [31]:
lst=["sachin",1,2,3,4,"apple","banana"]

In [32]:
lst

['sachin', 1, 2, 3, 4, 'apple', 'banana']

In [33]:
type(lst)

list

In [34]:
lst[0]

'sachin'

In [35]:
lst[2]

2

In [36]:
lst[5]

'apple'

In [38]:
for x in lst:
    print(x)

sachin
1
2
3
4
apple
banana

In [43]:
fruit_list=["mango","banana","cherry","apple","papaya"]

In [44]:
for a in fruit_list:
    print(a)

mango
banana
cherry
apple
papaya

In [54]:
for a in fruit_list:
    print(a)
    if a=="banana":
         print("the fruit name banana")

mango
banana
the fruit name banana
cherry
apple
papaya

In [58]:
for a in fruit_list:
    print(a)
    if a=="banana":
         print("the fruit name banana")
         break

mango
banana
the fruit name banana

In [59]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [60]:
fruit[0]

'm'

In [61]:
fruit[1]

'a'

## nested loop

In [64]:
# range
range(1,6)

range(1, 6)

In [65]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [66]:
for i in range(1,6,2):
    print(i)

1
3
5

In [67]:
for i in range(1,6,3):
    print(i)

1
4

In [1]:
range(0,5)

range(0, 5)

In [2]:
for b in range(0,5):
    print(b)

0
1
2
3
4

In [6]:
# nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [7]:
# loop control
# break and continue
fruit_list=["mango","banana","cherry","apple","papaya"]

In [8]:
for i in fruit_list:
    print(i)

mango
banana
cherry
apple
papaya

In [11]:
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
    print(i)

mango
banana
cherry
the fruit is apple
apple
papaya

In [12]:
## Break if one the condition true it come outside entire loop without printing the given condition
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
        break
    print(i)

mango
banana
cherry
the fruit is apple

In [13]:
## pass it pss all the data
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
        pass
    print(i)

mango
banana
cherry
the fruit is apple
apple
papaya

In [14]:
## continue it skip only one data which is true for given condition data
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
        continue
    print(i)

mango
banana
cherry
the fruit is apple
papaya